<!--ko ifnot: data()-->
<div data-bind="template: 'empty-view'"></div>
<!--/ko-->
<!--ko if: data()-->
<div class="detail-view">
  <h1>{{ I.t("voc.UserDetails") }}</h1>
  <dl data-bind="with: data">
    <dt>{{ I.t("voc.Email") }}</dt>
    <dd data-bind="text: email"></dd>
    <!--ko if: $data.roles && roles.length-->
    <dt>{{ I.t("voc.Roles") }}</dt>
    <dd>
      <ul data-bind="foreach: roles">
        <li>
          <span data-bind="text: $data"></span>
        </li>
      </ul>
    </dd>
    <!--/ko-->
  </dl>
</div>
<!--/ko-->
