{%- extends "layout.html" -%}
{%- block title -%}
  {{_("home.title") }}
{%- endblock -%}
{%- block description -%}
  {{ _("home.description") }}
{%- endblock -%}
{%- block css -%}
  <link rel="stylesheet" href="styles/styles.css" />
{%- endblock -%}
{%- block nav -%}
    <div>
      <ul class="nav nav-pills" role="tablist">
        <li role="presentation" class="active"><a href="#/">Homepage</a></li>
        <li role="presentation" class="active"><a href="#/getting-started">Getting started</a></li>
      </ul>
    </div>
{%- endblock -%}
{%- block body -%}
  {# insert here html specific for this page #}
{%- endblock -%}
{%- block js -%}
  {{ resources("public") | safe }}
{%- endblock -%}

