{%- extends "layout.html" -%}
{%- block title -%}
  {{_("home.title") }}
{%- endblock -%}
{%- block description -%}
  {{ _("home.description") }}
{%- endblock -%}
{%- block css -%}
  <link rel="stylesheet" href="styles/styles.css" />
{%- endblock -%}
{%- block body -%}
  {# insert here html specific for this page #}
  <div aurelia-app="main">
    <div class="preloader-mask">
      <div class="preloader-icon"></div>
    </div>
  </div>
{%- endblock -%}
{%- block js -%}
  {# insert here <script> elements specific for this page #}
{%- endblock -%}

